<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iris-glue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>iris-lang.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iris-shell (run in Terminal).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>iris-shell.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>iris-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>libiris.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>render stdlib glue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>sc-dump.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>sclib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F22428D24F1C7D200C1E64B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F293ECB24EC56E8003D6D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5B24D423171E54001C1941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F84CFFC22ADA0F200C9FD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8C407124BCC02200735273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F988CB524BCC4D700EE66C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE5502324C035D500509806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
